{
  "plugins": [
    "lodash",
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    "@babel/plugin-proposal-export-default-from"
  ],
  "presets": [
    "@babel/preset-env"
  ]
}